@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
* {
  transition-duration: 0.5s;

  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  color: white;
  background-color: rgb(26, 26, 26);
}

a {
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.panel {
  background-color: rgb(49, 49, 49);

  padding: 10px;

  border-radius: 10px;
  border-color: white;
  border-width: 1px;
  border-style: solid;

  box-shadow: 0 0px 8px 0 rgba(255, 0, 0, 0.63),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);

  max-width: 650px;
  min-width: 350px;

  text-align: center;
}
red {
  color: red;
}
yellow {
  color: yellow;
}
