@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

* {
  transition-duration: 0.5s;

  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 25px;
}

body {
  color: white;
  background-color: rgb(26, 26, 26);
}

a {
  color: rgb(255, 255, 255);
}

.panel {
  background-color: rgb(49, 49, 49);

  padding: 10px;

  border-radius: 10px;
  border-color: white;
  border-width: 1px;
  border-style: solid;

  width: fit-content;

  text-align: center;
}
