input[type="file"] {
  display: none;
}

input[type="submit"] {
  background-color: rgba(0, 0, 0, 0.13);

  border-color: transparent;
  border-width: 1px;
  border-style: solid;

  border-radius: 10px;

  backdrop-filter: blur(300px);

  font-size: 25px;
  color: white;

  transition-duration: 0.5s;
}
input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.13);

  border-color: rgb(252, 58, 58);
  border-width: 1px;
  border-style: solid;

  color: rgb(252, 58, 58);

  filter: drop-shadow(0px 0px 50px #ff0000);
}
input[type="submit"]:active {
  border-radius: 20px;
}
.input_file {
  font-size: 25px;

  color: white;
  cursor: pointer;

  border-style: solid;
  border-radius: 10px;

  padding: 4px;

  transition-duration: 0.5s;
}
.input_file:hover {
  padding: 7px;

  color: rgb(34, 34, 34);
  border-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);

  filter: drop-shadow(0px 0px 50px #ffffff);
}

#preview {
  max-width: 100%;
  max-height: 400px;

  pointer-events: none;
  user-select: none;
}

.drag-background {
  background-color: rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(20px);

  position: absolute;
  width: 100%;
  height: 0px;
  top: 0px;
  left: 0px;

  z-index: 2;

  transition-duration: 0.3s;
}

#drag_text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  opacity: 0;

  transition-duration: 0.3s;
}
#drag_image {
  height: 0px;
  opacity: 0;
  pointer-events: none;

  backdrop-filter: blur(100px);

  transition-duration: 0.3s;
}
