input[type="file"] {
  display: none;
}
input[type="submit"] {
  background-color: rgb(25, 25, 25);

  border: none;
  border-radius: 10px;

  font-size: 25px;
  color: white;
}
input[type="submit"]:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
.input_file {
  font-size: 25px;

  color: white;
  cursor: pointer;

  border-style: solid;
  border-radius: 10px;

  padding: 4px;
}
.input_file:hover {
  color: rgb(34, 34, 34);
  border-color: rgb(255, 255, 255);
  padding: 7px;
  background-color: rgb(255, 255, 255);
}
#preview {
  max-width: 100%;
  max-height: 500px;
}
